<html>
    <head>
        <title>error blog</title>
    </head>
    <body>
        <div>
            <h1><a href="/">error Blog</a></h1>
        </div>

        <div>
            <p>опубликовано: 26.08.2020, 23:00</p>
            <h2><a href="">мой первый пост</a></h2>
            <p>тут должно быть что-то интересное,но мне лень.</p>
        </div>

        <div>
            <p>опубликовано: 26.08.2020, 23:01</p>
            <h2><a href="">2+2=5</a></h2>
            <p> </p>
        </div>
    </body>
</html>